body {
    font-family: fantasy;
    font-size: 20px;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: maroon;
    color: white;
}

tr {
    height: 50px;
    border-bottom: 1px solid #bbb;
}

td.date {
    text-align: right;
    width: 150px;
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

td:hover {
    color: red;
    font-weight: 900;
}

caption {
    padding: 50px;
    font-size: 50px;
}